.map-container {
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 60px;
  display: flex;
  justify-content: center;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#map {
  min-width: 33vw;
  height: calc(100vh - 60px);
}

.map-transition {
  transition: min-width 0.3s ease-out;
}

.collapsible-map {
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
  border-left: 1px solid $lightest-gray;
  width: 40px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.collapsible-map:hover {
  background: rgba(194, 194, 194, 0.15);
}

.arrow {
  width: 0;
  height: 0; // margin-left: 5px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.arrow-right {
  border-left: 13px solid $light-blue;
}

.arrow-left {
  display: none;
  border-right: 13px solid $light-blue;
}

.gm-style-iw {
  left: 9px !important;
  top: 9px !important;
  height: 100px;
}

.info-window {
  display: flex;
  font-family: $main-font-family;
}

.info-win-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  height: 100px;
  width: 125px;
}

.info-win-img {
  width: 100px;
  height: 100px;
}

.info-win-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $dark-gray-tb;
  font-size: 16px;
  margin: 5px 0px 5px 0px;
}

.info-win-reserve {
  color: $main;
}

.info-win-reserve:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: $media2) {
  .collapsible-map {
    display: none;
  }
  .map-container {
    position: relative;
    top: 0px;
    width: 100%;
    margin-top: 20px;
  }
  .map-resize {
    display: flex;
    justify-content: center;
  }
  #map {
    height: 60vh;
    width: 92vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  }
}