.map-container {

  position: sticky;
  // position: -webkit-sticky;
  align-self: flex-start;
  // width: 100%;
  top: 60px;

  display: flex;
  justify-content: center;
}

#map {
  min-width: 30vw;

  height: calc(100vh - 60px);

}

#map-bound {
  // height: 100vh;
  // width: 60vw;
  // right: 0px;
}

@media (max-width: 800px) {
  .map-container {

    position: relative;
    align-self: flex-start;

    top: 0px;
  }
  #map {
    height: 60vh;
    width: calc(94vw);
    margin-left: 2vw;
    margin-top: 1.5vh;
    box-shadow: 0 0 10px rgba(0,0,0,.25);

  }
}
