.map-container {

  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 60px;
  // width: 100%;

  display: flex;
  justify-content: center;

  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#map {
  min-width: 30vw;

  height: calc(100vh - 60px);

}

#map-bound {
  // height: 100vh;
  // width: 60vw;
  // right: 0px;
}

.info-window {
  width: 250px;
  height: 100%;
  display: flex;
  font-family: $main-font-family;
}

.info-win-desc {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;

  // color: $main;
}

.info-win-img {
  width: 100px;
  height: 100px;
}

.info-win-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: $dark-gray-tb;
  font-size: 16px;
  width: 140px;

  margin: 5px 0px 5px 0px;
}

.info-win-reserve {
  color: $main;
}
.info-win-reserve:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 800px) {
  .map-container {

    position: relative;
    top: 0px;
    width: 100%;
    margin-top: 20px;
  }

  .map-resize {
    display: flex;
    justify-content: center;
  }

  #map {
    height: 60vh;
    width: 92vw;
    box-shadow: 0 0 10px rgba(0,0,0,.25);

  }
}
