.modal-background {
  position: fixed;
  font-family: 'Lato', sans-serif;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.reserve-modal {
  background: white;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 400px); // transform: translate(-50%, -50%);
}

.confirm-modal {
  background: white;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 400px); // transform: translate(-50%, -50%);
}

.modal-select-time {
  color: $accent;
  background: white;
  padding-left: 10px;
  border: none;
  z-index: 3;
  bottom: 75px;
  height: 35px;
  width: 80%;
  right: 10%;
  left: 10%;
  appearance: none;
  border: 1px solid $gray;
}

.modal-reserve-btn {
  color: white;
  background: $accent;
  border: none;
  z-index: 3;
  bottom: 25px;
  height: 40px;
  width: 80%;
  right: 10%;
  left: 10%;
  text-align: center;
}

.close-x {
  cursor: pointer;
  font-size: 30px;
  width: 30px;
}

.close-x:hover {
  background: $light-gray;
}