.reservations-container {
  display: flex;
  flex-direction: row;
  height: 240px;
  font-family: $main-font-family;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 20px;

}

.reservations-component {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.res-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
}

.res-resed-cont {
  display: flex;
}

.res-resed, .res-nonresed {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  height: 240px;
  position: relative;
  margin: 0 10px;
  border: 1px solid $light-gray;
}

.treat-you-had {
  display: flex;
  flex-direction: column;

  justify-content: center;
  position: absolute;

  width: 100%;
  height: 100%;
  top: 20px;

}

.resed-img {
  height: 220px;
  max-width: 100%;
  opacity: 0.3;
}
.resed-img-today {
  height: 220px;
  max-width: 100%;
  filter: brightness(70%);
}



.day-of-week {
  color: white;
  font-weight: bold;
  width: 100%;
  background: $main;
}


/////////



.resed-today-desc {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  bottom: 10px;
  z-index: 5;

  height: 100%;
  width: 100%;

}

.update-res {
  width: 100%;
  border: none;
  background: $main;
  border-bottom: 2px solid white;
  text-align-last:center;
  position: absolute;
  z-index: 5;
  bottom: 18px;
  left: 0px;
  color: white;
}
.update-res:hover {
  cursor: pointer;

}

.cancel-reservation {
  border: 2px solid white;
  width: 100%;
  border: none;
  background: $main;
  position: absolute;
  z-index: 5;
  bottom: 0px;
  left: 0px;
  color: white;
}

.res-savings {
  display: flex;
  flex-direction: column;
  border: 1px solid $light-gray;
  max-width: 340px;
  max-height: 240px;
  position: relative;
  margin: 0 10px;
  padding: 15px 20px;

}
.sav-holy {
  color: $main;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sav-num {
  font-size: 20px;
  color: $accent;
  font-weight: bold;
  margin: 5px 0;
}


.not-resed-today {
  height: 240px;
  display: flex;
  flex-direction: column;
}
.res-nonresed {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.no-treat-this-day {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
}


@media (max-width: 1000px) {
  .hidden-res {
    display: none;
  }
  .res-items {
    margin: 5px;

  }
  .reservations-container {
    margin: 5px;
  }
  .res-savings {

    padding: 15px 5px;
  }
.res-resed {
    height: 180px;
  }
  .no-treat-this-day {
    margin-top: 40px;

  }
  .resed-img-today {
    max-height: 140px;
    max-width: 100%;
    filter: brightness(70%);
  }

}
