
.treat-listing {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  font-family: 'Lato', sans-serif;

  :hover {
    transform: scale3d(1.05,1.05,1.05);
    transition-duration: 0.1s;
    opacity: 0.25;
  }
}

.treat-errors {
  position: absolute;
}

.treat-box {
  box-sizing: border-box;
  margin: 10px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.25);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-width: 0px;
  min-height: 0px;

  :hover {
    transform: none;
    opacity: 1;
  }

}

@media (min-width: 500px) {
  .treat-listing {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .treat-listing {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .treat-listing {
    grid-template-columns: repeat(4, 1fr);
  }
}

.treat-box-title {

  width: 100%;
  background-color: $main;
  padding: 5px 10px;
  color: white;
  font-weight: bold;


  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  li {
    letter-spacing: 1px;
    display: flex;
    justify-content : center;
  }

}

.treat-box-description {

  width: 90%;

  margin: 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.tbd-item {

  margin-bottom: 5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.treat-name {
  color: $main;
  font-weight: bold;
  font-size: 18px;
}
.shop-name {
  color: $dark-gray-tb;
}
.shop-address {
  color: $light-gray;
}
