$main: #fe422d; //dark orange
$accent: #430098; //purple

$black: #010101;

$lightest-gray: #DBDADA;

$light-gray: #c0bcbb;

$gray: #A2A2A2;
$dark-gray: #767676;
$dark-gray2: #646464;
$dark-gray-tb: #6f6b6b;
$darkest-gray: #272727;

$gray-menu: #504d4c;
